body {
    font-family: 'Granite', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background: url('./assets/bg.png') fixed no-repeat;
    background-size: cover;

    header {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .rate {
          width: 250px;
          height: 150px;
        }
        .etic {
          width: 150px;
          height: 150px;
        }
        ul {
          margin-top: 50px;
            display: flex;
            list-style-type: none;
            li {
                font-size: 1.9rem;
                margin: 30px 100px;

                a {
                    text-decoration: none;
                    color: #000000;
                }
            }
        }

    }

    .container {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .right {
            padding-top: 100px;
            width: 35%;
            margin-right: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                font-size: 1.9rem;
                margin-bottom: 100px;
            }
            button {
                margin-left: 20px;
                font-family: sans-serif;
                border-radius: 60px;
                background-color: #191829;
                font-size: 1rem;
                font-weight: bold;
                padding: 15px 45px;
                letter-spacing: 1px;
                text-transform: uppercase;
                transition: transform 100ms ease-in;
                border: none;
                a {
                    color: #3ACAC9;;
                    text-decoration: none;
                }
                    
            }
                
            button:active {
            transform: scale(0.95);
            }
            
            button:focus {
            outline: none;
            cursor: pointer;
            }
            button:hover {
            cursor: pointer;
            }
            button.ghost {
            background-color: transparent;
            }
        }
    }
    .e-container {
        width: 100%;
        display: flex;
        justify-content: center;

        .events {
            width: 90%;
            padding: 40px 20px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 50px 150px;
    
            .event {
                display: flex;
                border-radius: 66px;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;
                background-color: rgba(85, 206, 205, 0.6);
                width: auto;
    
                img {
                    width: 150px;
                    height: 150px;
                }
    
                .jt {
                    height: 100px;
                }
                p {
                    margin-top: 20px;
                    font-size: 1rem;
                    width: 50%;
                }
                button {
                    margin-left: 20px;
                    margin-bottom: 20px;
                    font-family: sans-serif;
                    border-radius: 60px;
                    background-color: rgba(202, 68, 80, 0.87);
                    font-size: 1rem;
                    font-weight: bold;
                    padding: 15px 45px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    transition: transform 100ms ease-in;
                    border: none;
                    a {
                        height: 100%;
                        color: #000000;
                        text-decoration: none;
                    }
                        
                }
                    
                button:active {
                transform: scale(0.95);
                }
                
                button:focus {
                outline: none;
                cursor: pointer;
                }
                button:hover {
                cursor: pointer;
                }
                button.ghost {
                background-color: transparent;
                }
    
            }
        }
    }
    
}